* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.global-container {
    margin: 50px 0px 50px 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    font-family: 'Lora', serif;
}

p {
    text-align: center;
    margin: 0 40px 0 40px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header-container {
    background-color: #f0f0f0;
}

.main-container {
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
}

.section {
  width: 50%;
}

.bottom-full-width {
    width: 100%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

h1,
h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #6a6969;
    text-transform: uppercase;
    text-align: center;
}

.footer-container {
    background-color: #f0f0f0;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section-link {
    color: #6a6969;
    margin-left: 20px;
}

.right-footer-link {
    margin-right: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    padding: 0 23px;
    line-height: 90px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.custom-list {
    list-style: none;
    padding: 0;
}

.custom-list-item {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.custom-list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #3498db;
}

.custom-list-item:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

hr {
    height: 2px;
    border-width: 5px;
    color:gray;
    background-color:gray;
    margin-bottom: 0;
}

.image-avatar {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 170px;
}

.copyright {
    width: 150px;
}

.contact-prefix {
    font-weight: bold;
}